@import url("./header.css");
@import url("./section.css");

html {
  scroll-behavior: smooth;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}



@media (max-width:1200px) {
  .container{
    max-width: 970px;
  }
}

@media (max-width:992px) {
  .container{
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container{
    max-width: none;
    font-size: 70%;
  }
  .section.section-left{
    padding-left: 0;
    padding-right: 0;
  }

  .nav-link {
    padding: 10px;
  }

  .nav-list {
    padding: 0;
  }

  .section.section-right {
    padding-left: 10px;
  }

  code {
    font-size: 80%;
  }
}

code {
  position: relative;
  left: -40px;
  text-align: right;
}

.footer-container {
  box-sizing: border-box;
  background-color: #41688f;
  text-align: end;
}

.footer {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

footer p {
  font-size: 20px;
  color: #f3f5f8;
}

.footer-git {
  width: 30px;
}

.footer-rs {
  width: 100px;
}